{% extends 'blog/base.html' %}
{% block content %}
    <style>
        body {
            background-color: #F69DDE;
        }

        .rounded-container {
            border-radius: 15px;
            background-color: #fff;
            padding: 20px;
            margin: 20px auto;
            margin: 5rem 0;
        }

        h1,
        p {
            color: #343a40;
        }

        .jumbotron {
            background-color: #FACCEF;
            padding: 2rem;
            border-radius: 50px;
            margin: 5rem 0;
        }

        .card-img-top {
            max-width: 100%;
            height: auto;
            min-width: 100px;
        }

        .article-metadata {
            color: #6c757d;
        }

        .article-title {
            color: #343a40;
        }

        .article-content {
            color: #343a40;
        }

    </style>

    <div class="text-center">
        <div class="jumbotron jumbotron-fluid" style="width: 150%;">
            <h1 class="display-4">Welcome to Delicious Donuts!</h1>
            <p class="lead">Indulge in the Sweetness of Our Irresistible Donuts</p>
        </div>

        <div class="container mx-auto" style="width: 150%;">
            {% for post in posts %}
                <div class="card mb-4">
                    <img src="{{ post.author.profile.image.url }}" class="card-img-top" alt="{{ post.title }}">
                    <div class="card-body">
                        <div class="article-metadata">
                            <p class="text-muted">{{ post.date_posted }} by {{ post.author }}</p>
                        </div>
                        <h2 class="card-title"><a class="article-title" href="{% url 'blog-detail' post.id %}">{{ post.title }}</a></h2>
                        <p class="card-text article-content">{{ post.content }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
