{% extends 'blog/base.html' %}
{% block content %}
    <style>
        body {
            background-color: #F69DDE;
        }

        .rounded-container {
            border-radius: 15px;
            background-color: #fff;
            padding: 20px;
            margin: 20px auto;
            margin: 5rem 0;
        }

        h1,
        p {
            color: #343a40;
        }
    </style>

    <div class="container mx-auto" style="width: 150%;">
        <div class="rounded-container">
            <article class="media content-section">
                <img class="article-img" style="height: 80px; width: 80px;" src="{{ object.author.profile.image.url }}" alt="">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="#">{{ object.author }}</a>
                        <small class="text-muted">{{ object.date_posted }}</small>
                    </div>

                    <h2><a class="article-title" href="#">{{ object.title }}</a></h2>
                    <p class="article-content">{{ object.content }}</p>

                    {% if object.author == user %}
                        <div>
                            <a class="btn btn-outline-success" href="{% url 'blog-update' object.id %}">Update</a>
                            <a class="btn btn-outline-danger" href="{% url 'blog-delete' object.id %}">Delete</a>
                        </div>
                    {% endif %}
                </div>
            </article>
        </div>
    </div>
{% endblock content %}
