{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <style>
        body {
            background-color: #F69DDE;
        }

        .rounded-container {
            border-radius: 20px;
            background-color: #fff;
            padding: 50px;
            margin: 50px auto;
            width: 220%;
            margin: 5rem 0;
        }

        h1,
        p {
            color: #343a40;
        }

        .form-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

        }

        .form-group {
            width: 100%;
        }

        .btn {
            margin-top: 5px;
        }
    </style>

    <div class="container mx-auto" style="width: 50%;">
        <div class="rounded-container">
            <form action="" method="post" class="form-container">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4"> Create Post </legend>
                    {{ form.as_p }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit"> Post </button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted"><a href="{% url 'blog-home' %}">Back </a></small>
            </div>
        </div>
    </div>
{% endblock content %}
