{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <style>
        body {
            background-color: #F69DDE;
        }
        .rounded-container {
            border-radius: 15px;
            background-color: #fff;
            padding: 13px;
            margin: 30px auto;
            width: 220%;
            margin: 5rem 0;
        }
        }
        .form-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .form-group {
            width: 100%;
        }
        .btn {
            margin-top: 10px;
        }
    </style>

    <div class="container mx-auto" style="width: 50%;">
        <div class="rounded-container">
            <form action="" method="post" class="form-container">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Delete this Post?</legend>
                    <h4><b>" {{ object.title }} "</b></h4>
                    <p class="article-content">{{ object.content }}</p>
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Delete</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted"><a href="{% url 'blog-home' %}">Back</a></small>
            </div>
        </div>
    </div>
{% endblock content %}
